@page
@model sportnoDrustvo.Pages.Clani.DeleteModel

<h2>Izbriši Člana</h2>

<h3>Ali ste prepričani, da želite izbrisati ta član?</h3>
<div>
    <h4>Član</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clan.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clan.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clan.Priimek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clan.Priimek)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Clan.Id" />
        <button type="submit" class="btn btn-danger">Izbriši</button>
        <a asp-page="./Index" class="btn btn-secondary">Prekliči</a>
    </form>
</div>
