@page
@model sportnoDrustvo.Pages.Obvestila.CreateModel

<h2>Dodaj Novo Obvestilo</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Obvestilo.TerminId" class="control-label"></label>
        <select asp-for="Obvestilo.TerminId" class="form-control" asp-items="ViewBag.TerminId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Obvestilo.Obvescanje" class="control-label"></label>
        <select asp-for="Obvestilo.Obvescanje" class="form-control">
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a asp-page="./Index" class="btn btn-secondary">Prekliči</a>
</form>
