@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Športno društvo</h1>
    <p>Aplikacijija ki omogoča pregled ter management ekip za športne aktivnosti.</p>
</div>

<a asp-page="/Termini/Index">Poglej seznam terminov</a><br />
<a asp-page="/Clani/Index">Poglej seznam clanov</a>
<br />
<a asp-page="/Obvestila/Index">Poglej seznam obvestil</a>
<br />

<a asp-page="/Rezervacije/Index">Poglej seznam rezervacij</a>
<br />

<a asp-page="/Trener/Index">Poglej seznama trenerjev</a>
<br />
<a asp-page="/Rekvizit/Index">Poglej seznama rekvizitov</a>
<div class="text-center">
    
</div>
